.action-button {
    padding: .1px 10px; /* Add some padding for better spacing */
    margin-top: .1px;
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 80px; /* Limit maximum width if needed */
    text-align: center; /* Center the content */
    margin-left: 7px;
}
.table-responsive {
    overflow-x: auto;
}
